/*
    file:style.css
    author: nobiduke
    date: 5/9/2022
    desc: original stylesheet for SCFF framework documentation
*/

.main-top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid #666;
}
.title{
    /* position: absolute;
    top: 0.34em;
    left: 1.75em; */
    color:cornflowerblue;
    font-size: x-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
}
/*menu options*/
.menu-bars{
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu-option{
    color: #666;
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    font-family:Arial, Helvetica, sans-serif;
    font-size: x-large;
    cursor: pointer;
}
.menu-option:hover{
    color: #AAA;
}
/*api-dropdown*/
.drop-down{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.2);
    font-size: large;
    background-color: #222;
    z-index: 1;
}
.menu-option:hover .drop-down{
    display: block;
}
.drop-down{
    display: none;
}
.drop-choice{
    color:#666;
    text-decoration: none;
}
.drop-choice:hover{
    color:#AAA;
}
/*index.html*/
.space-block{
    margin-top: 3em;
}
.main-body{
    color: #CCC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-family: consolas;
}
/*api.html*/
.api-body{
    display: flex;
}
.api-classes-holder{
    width: 15vw;
    display: grid;
    align-items: center;
    border-right: 2px solid #666;
    overflow-x: scroll;
}
.api-classes{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1em;
    color:#666;
    text-decoration: none;
}
.api-classes:hover{
    color: #AAA;
    cursor: pointer;
}
.api-text{
    width: 85vw;
    margin-left: 2em;
    overflow-y: scroll;
    /* overflow-x: scroll; */
    height: 90vh;
}
.api-header{
    margin-left: 1em;
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #CCC;
    border-bottom: 2px solid #AAA;
    width: 80%;
}
.api-paragraph{
    color:#AAA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.code-desc{
    color:#AAA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-bottom: 30px;
}
.code-snippet{
    font-family: consolas;
    font-size: medium;
    background-color: #444;
    color: #DDD;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 25px;
    max-width: 100%;
}
.code-snippet-link{
    font-family: consolas;
    font-size: medium;
    background-color: #444;
    color: #DDD;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 25px;
    max-width: 100%;
    cursor: pointer;
    text-decoration: none;
}
.code-snippet-link:hover{
    background-color: #666;
}
.code-header{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #AAA;
    padding-bottom: 0.2em;
    border-bottom: 2px solid #666;
    width: 30%;
}
.class-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 2px solid #666;
    width: 80%;
    font-family: consolas;
    font-size: medium;
    font-weight: bold;
    color: #AAA;
}
.class-attr{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.class-methods{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.attr{
    text-decoration: none;
    color: #666;
}
.attr:hover{
    background-color: #444;
    color: #CCC;
}
::-webkit-scrollbar{
    width: 0.5vw;
    height: 0.5vh;
    background-color: #222;
}
::-webkit-scrollbar-thumb{
    color: #AAA;
    background-color: #AAA;
}
::-webkit-scrollbar-track{
    background:#222;
}
/*background*/
.dark-gray{
    background-color: #222;
}

/*fonts*/
@font-face {
    font-family: consolas;
    src: url(./CONSOLA.TTF);
}